<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotations -->
    <context:annotation-config />
    <context:component-scan base-package="com.exilys.computerdatabase" />

    <!-- HikariCP configuration -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
        destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:connection.properties</value>
            </list>
        </property>
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="springHikariCP" />
        <property name="connectionTestQuery" value="SELECT 1" />
        <property name="dataSourceClassName" value="${hibernate.dataSourceClassName}" />
        <!-- <property name="maximumPoolSize" value="${hibernate.hikari.maximumPoolSize}" 
            /> <property name="idleTimeout" value="${hibernate.hikari.idleTimeout}" /> -->

        <property name="dataSourceProperties">
            <props>
                <prop key="url">${dataSource.url}</prop>
                <prop key="user">${dataSource.username}</prop>
                <prop key="password">${dataSource.password}</prop>
            </props>
        </property>
    </bean>

    <!-- Beans configuration -->
    <bean id="computerDao" name="computerDao"
        class="com.excilys.computerdatabase.persistence.ComputerDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="computerService" name="computerService"
        class="com.excilys.computerdatabase.service.ComputerService">
        <property name="computerDao" ref="computerDao"></property>
    </bean>

    <bean id="companyDao" name="companyDao"
        class="com.excilys.computerdatabase.persistence.CompanyDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="companyService" name="companyService"
        class="com.excilys.computerdatabase.service.CompanyService">
        <property name="companyDao" ref="companyDao"></property>
    </bean>

</beans>
